{% extends "main.html" %}
{% block content %}
        <p style="font-size: 30px; text-align: center">-=4RT_0F_PR0G1NG_TH3_C()MPUT3R_N0T_F()R_3V3RY1=-</p>
        <p class="lain"> </p>
        <h1>стоябма чел ты не пройдёшь</h1>
        <h2>я устал от <large>l4m3r</large>`ов!</h2>
        <h3>ЗАЧЕМ вообще к компьютеру соваться коль не можешь его заставить исполнять реальные %ТРЮКИ%</h3>
        <h3>сидите в одноклассниках и ставьте друг другу классы. покупайте друг другу подарки. играйте в тетрис.... с телефона.</h3>
        <h3>пока настоящие hax0000r`ы будут программировать свои компьютеры, используя мощь железа на все 100%. писать шелы и бекдоры. крякать. форжить. дебагать. да я этот сайт пишу в редакторе из которого lam3r`ьё даже выйти не сможет хахахах</h3>
        <h2>ВНИМАНИЕ! ЭТО ПРОВЕРКА НА ЛАМЕРСТВО. ЛАМЕРАМ НИЖЕ ДАЖЕ МОЖНО НЕ ЧИТАТЬ! УСТАНУТ ГЛАЗКИ.</h2>
        <hr><hr>
        <h1 align="center">Система CACAPTCHA</h1>
        <p>Я единолично разработал достоверно не проходимую человеком автоматизированную систему по проверке на компьютер. Т.е. только ГРАМОТНО запрограмированный КОМПЬЮТЕР сможет решить сей тест. Называется <b>CACAPTCHA (Completely Automated Completely Automated Public Turing test to tell Computers and Humans Apart)</b>.</p>
        <p>Система заключается в том, что нужно засылать hyp3rt3xt requ3sts по моим инструкциям. Их тоже генерирует качестенное ПО, которое я собственноручно создал следуя всем ГРАМОТНЫМ %ТРЮКАМ%.</p>
        <h4>Формальная постановка задачи</h4>
        <ol>
            <li>Клиент должен быть на linux`e. Пользуешься форточками? РЕАЛЬНО? Чел, поставь себе какой-нибудь крутой дистрибутив линухи по типу ARCH или MANJARO.</li>
            <li>Необходимо выполнить большое количество hypertext requests по алгоритму данному на странице с заданием.</li>
            <li>Но запросы регулируются с помощью WEB APPLICATION F1R3W4LL собственной разработки. Обычные запрещают запросы по вхождениям в правила, потому что так проверяют хакеров. Я проверяю ламеров. Мой WAF работает наоборот.</li>
            <li>Используются регулярные выражения. Не знаете что это? Это самый крутой hax000r инструмент который одни раз изучил и можно чувствовать себя просто королём программирования. См. РЕГУЛЯРНЫЕ ВЫРАЖЕНИЯ</li>
            <li>После окончания будет получен приз, который подтверждает, что ты реально не LAM3R.</li>
            <li>В августе у меня будет отпуск и я планирую добавить таблицу рекордов. Надо будет взломать базу данных и самостоятельно себя туда занести. Пока ничего нет.</li>
        </ol>
        <h4>Регулярные выражения</h4>
        <img src="/static/automata.png" style="float: right; width: 200px; margin: 0 2em; mix-blend-mode: color-dodge;">
        <p>Регулярные выражения - это тупо язык, задающий детерминированные конечные автоматы по поиску подстрок в строках. Ламер отличается от Укротителя Компьютеров тем, что не сможет написать свою релазиацию данной системы. Я не только смог, но и заставил её генерировать ИСПЫТАНИЯ. Так что не разобравшися как следует с этой технологической штучкой даже не стоит переходить к игре.</p>
        <h4>Модуль CACAPTCHA для WAF "HAXORWALL"</h4>
        <p>С 2003 года я единолично разрабатываю web application firewall для своих нужд. Он полностью customize`ируемый и поддерживает модульную архитектуру. Этот модуль держу в секрете, но он позволяет 100% детектировать ламеров => очень нужен на haxxx000r-ресурсах для защиты.</p>
        <p>P.S. Готов поделиться секретом. Принимаю серьёзные приложения в килобаксах на k60(ГАВ ГАВ)fmap[тчк](доменная зона монтенегр)</p>
        <h2 align="center"><a href="game">G() T0 TH3 G4M3 >>>>>></a></h2>
{% endblock %}
